.flashcard {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
}

/* Hide the answer section by default */
.answer {
  display: none;

}

.hidden {
  display: none;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

h1{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

body{
background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

}

#copy-all-markdown-btn{
  background-color: #0690f3;
  color: #fff;
  border: 2px solid #0690f3;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  
}

.copy-button{
  background-color: #0690f3;
  color: #fff;
  border: 2px solid #0690f3;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
}

.toggle-answer {
  background-color: #0690f3;
  color: #fff;
  padding: 10px;
  border: 2px solid #0690f3;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.toggle-answer:hover {
  background-color: #58b8fc; /* Darken the background on hover */
  border: 2px solid #58b8fc;
}

  /* Loading animation styles */
  .loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#download-anki{
  background-color: #0690f3;
  color: #fff;
  border: 2px solid #0690f3;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  
}
#download-selected-button{
  background-color: #0690f3;
  color: #fff;
  border: 2px solid #0690f3;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
}

.loading-spinner {
    border: 4px solid rgba(0, 123, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #007bff;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.checkbox-label {
  font-family: 'Lato', sans-serif;
  font-weight:400;
  /* Add more styles as needed */
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap:30px;
}

#title-container {
  color:white;
}

@media screen and (max-width: 768px) {
  #button-container button {
      font-size: 14px; /* Adjust the font size for smaller screens */
  }
}

@media screen and (max-width: 640px){
  #header h1{
    font-size:15px;
  }
}

